<footer class="footerPage">
  <!-- start footer.tmpl.html-->
  <div class="footerSystem">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 .footerSystem-address topic-title">
          <h4 class="footerSystem-address-title topic-title">
            Address:
          </h4>
          <p class="footerSystem-address-data topic-data">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo, suscipit?
          </p>
        </div>
        <div class="col-sm-4 footerSystem-contact">
          <h4 class="footerSystem-contact-title topic-title">
            Contacts:
          </h4>
          <p class="footerSystem-contact-data topic-data">
            <span>Phone:</span>
            <span>+3803333333333</span>
          </p>
          <p class="footerSystem-contact-data topic-data">
            <span>Email:</span>
            <span>test@gmail.com</span>
          </p>
          <p class="footerSystem-contact-data topic-data">
            <a href="#" target="_blank" class="footerSystem-contact-data-link">
              <img src="img/fb.png" alt="fb" class="footerSystem-contact-data-link-pic">
            </a>
          </p>
        </div>
        <div class="col-sm-4 footerSystem-logo">
          <img src="img/schoolLogo.png" alt="Логотип Жуківської сільської ради" class="footerSystem-logo-pic">
        </div>
      </div>
    </div>
  </div>
  <!-- end footer.tmpl.html-->
</footer>
